absl-py==1.4.0
astor==0.8.1
cached-property==1.5.2
certifi==2021.5.30
charset-normalizer==2.0.12
cycler==0.11.0
dataclasses==0.8
decorator==4.4.2
fcd-torch==1.0.7
filelock==3.4.1
fuzzywuzzy==0.18.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.48.2
h5py==3.1.0
huggingface-hub==0.4.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.7
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
molsets==0.3.1
networkx==2.5.1
numpy==1.19.5
olefile==0.46
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.5
Pillow @ file:///opt/concourse/worker/volumes/live/516b2492-3bc8-4336-694b-cc677c18a0f6/volume/pillow_1625655827757/work
pomegranate==0.12.0
protobuf==3.19.6
pyparsing==3.1.1
PyTDC==0.4.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
PyYAML==6.0.1
rdkit-pypi==2021.9.4
requests==2.27.1
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
tensorboard==1.15.0
tensorboardX==2.6.2
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
threadpoolctl==3.1.0
torch==1.4.0
tqdm==4.64.1
typing-extensions==4.1.1
urllib3==1.26.16
Werkzeug==2.0.3
wrapt==1.15.0
zipp==3.6.0
